.inputWrapper {
    margin-bottom: 15px;
    width: 100%;

  }
  
  .label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .inputContainer {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
  }
  
  .icon {
    position: absolute;
    right: 10px;
    font-size: 16px;
    color: #888;
  }
  
  /* Para navegadores basados en WebKit (Chrome, Safari, etc.) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
