.containerTable {
	display: flex;
	flex-direction: column;
}

.containerTable h2 {
	font-weight: 400;
	margin-top: 2rem;
}

.confirm__buttons {
	display: flex;
	justify-content: end;
}
.confirmed {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 85px;
	height: 25px;
	background-color: #4caf50;
	border-radius: 12.5px;
}
.confirmed > p {
	font-family: "Inter";
	font-size: 12px;
	font-weight: 500;
	line-height: 14.52px;
	text-align: left;
	color: #ffffff;
}
.pending {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 85px;
	height: 25px;
	background-color: #efb82b;
	border-radius: 12.5px;
}
.pending > p {
	font-family: "Inter";
	font-size: 12px;
	font-weight: 500;
	line-height: 14.52px;
	text-align: left;
	color: #ffffff;
}
